table {
  width: 98%;
  margin: auto;
}

.excluir {
  cursor: pointer;
}

.icone-excluir {
  color: #ff0000;
  margin-left: 10%;
}

th {
  font-size: 15px;
  color: #fff;
  font-weight: 100;
  background-color: #fb8500;
}

td {
  background-color: #f9c74f
}
