<table mat-table [dataSource]="dadosTabela" class="mat-elevation-z8">
    <ng-container *ngFor="let item of tipoColunas">
        <ng-container [matColumnDef]="item.nomeColuna">
            <th mat-header-cell *matHeaderCellDef> {{ item.nomeColuna }} </th>

            <ng-container [ngSwitch]="item.tipoColuna">
                <ng-container *ngSwitchCase="'Link'">
                    <td mat-cell *matCellDef="let element"><a href="#">{{ element[item.nomeColuna] }}</a> </td>
                </ng-container>
                <ng-container *ngSwitchCase="'Texto'">
                    <td mat-cell *matCellDef="let element">{{ element[item.nomeColuna] }}</td>
                </ng-container>
                <ng-container *ngSwitchCase="'CPF'">
                    <td mat-cell *matCellDef="let element">{{ element[item.nomeColuna] | mascaraCPF }}</td>
                </ng-container>
                <ng-container *ngSwitchCase="'CNPJ'">
                    <td mat-cell *matCellDef="let element">{{ element[item.nomeColuna] | mascaraCnpj }}</td>
                </ng-container>
                <ng-container *ngSwitchCase="'Excluir'">
                    <td mat-cell *matCellDef="let element" class="excluir">
                        <mat-icon class="icone-excluir" title="Excluir" (click)="removerRegistro(element)">delete
                        </mat-icon>
                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="'SlideToggle'">
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle checked="{{ element[item.nomeColuna] }}" (change)="onChangeToggle(element)"  ></mat-slide-toggle>
                    </td>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="definicaoNomeDasColunas"></tr>
    <tr mat-row *matRowDef="let row; columns: definicaoNomeDasColunas;"></tr>
</table>