.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  max-width: 500px;
  height: 95vh;
  background-color: rgb(215, 233, 245);
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  border: 1px solid black;
}
