<form [formGroup]="formCadastro" class="container" (ngSubmit)="salvar()">
    <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>E-mail *</mat-label>
        <input matInput formControlName="email" required>
    </mat-form-field>
    <div formGroupName="endereco">
        <mat-form-field class="example-full-width">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Logradouro</mat-label>
            <input matInput formControlName="logradouro" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="bairro" required>
        </mat-form-field>
    </div>
    <button>Salvar</button>
</form>